/vendor/
/public/assets/image/profilePhoto/
/application/models/sendOtp.php
/public/assets/image/postsPhoto/
/public/assets/uploadedAudio
/public/assets/uploadedVideo
public/assets/image/
application/models/sendMailOnRegistration.php 
application/models/googleCredential.php 
