/vendor/
/public/assets/image/profilePhoto/
/config/googleSecrect.php
/public/assets/image/postsPhoto/
/public/assets/uploadedAudio
/public/assets/uploadedVideo
public/assets/image/
application/models/sendMailOnRegistration.php
application/models/googleCredential.php
application/models/config/config.php
